.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main h1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

@media (max-width: 900px) {
    .container-main {
        display: none;
    }
}